parte-2/appMhbsPrism/appMhbsPrism/appMhbsPrism.Droid/obj/
parte-2/appMhbsPrism/packages/
parte-2/appMhbsPrism/appMhbsPrism/appMhbsPrism.Droid/bin/
parte-2/appMhbsPrism/appMhbsPrism/appMhbsPrism/obj/
parte-2/appMhbsPrism/appMhbsPrism/appMhbsPrism/bin/
